body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
}

/* monitor besar */
@media (min-width: 1536px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 18px;
    }
}
